/* block top user information */

#header_right #header_user { float: right; width: 49%; }
#header_right #header_user > div { padding-left: 80px; }

#header_user #header_nav {
	list-style-type:none;
	margin: 0;
	display: block; padding: 0;
	width: 50%; text-align: center; float: left;
}
#shopping_cart a{ display:block}
#shopping_cart a > * { display: none; }
#header_user #shopping_cart .ajax_cart_total { display:none !important; }


/* account */
#header_user #your_account {display:none;}

/* user infos */ 
#header_user_info { margin: 0; padding:0; width: 49%; text-align: center; display: block; float: left; }
