body{
	background: #f5f5f5;
	font-family: 'BrownLight';
	font-size: 12px;
	min-width: 1200px;
	position: relative;
}


.content{
	width: 960px;
	margin: auto;
}


#text-content{
	position: fixed!important;
	z-index: 15;
	position: fixed;
	width: 960px;
	margin: auto;
	left: 50%;
}

#text-content .text{
	width: 500px;
	position: absolute;
	opacity: 0;
	top: 168px;
	left: 14px;

	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s ;
    transition: all 0.5s;
}

#text-content .active{
	position: absolute;
	opacity: 1;
}

#text-content .text h2{
	font-family: 'NeutrafaceTextBoldAlt';
	font-size: 55px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 0;
}

#text-content .text .diff{
	color: #f7f7dd;
}

#text-content .text h2, #text-content .text p{
	/*-webkit-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);*/

	-webkit-transition: all 0.8s;
    -moz-transition: all 0.8s ;
    transition: all 0.8s;
}

#text-content .active h2, #text-content .text p{
/*	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);*/

	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s ;
    transition: all 0.5s;
}

#text-content .text p{
	font-family: 'BrownRegular';
	font-size: 16px;
	line-height: 25px;
	color: #444;
}

#text-content .headline{
	color: #5e6a9c;
	font-family: 'NeutrafaceTextLight'!important;
	font-size: 27px!important;
	line-height: 30px!important;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;

}

#text-content .headline.green{
	color: #337239;
}

#text-content .headline.pink{
	color: #733f3f;
}

#text-content .custo{
	display: block;
	width: 240px;
	height: 44px;
	background: url('../img/btn_home.png');
	margin-top: 20px;
}

#text-content .custo:hover{
	background: url('../img/btn_hom_survol.png');
}



#container{
	width: 100%;
	height: 100%;
	position: fixed;
	/*background: #e4e1dc url('../img/bg.jpg');*/
}

.wrapper{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	display: none;
}

.wrapper.active{
	z-index: 10;
	display: block;
}

.wrapper img{
	position: absolute;
	top: 0px;
	left: 0;
}




#bgs{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}

#bgs .bg1{
	height: 100%;
	width: 100%;
	background: url('../img/bg1.jpg');
	position: absolute;
	top: 0;
	display: none;
}

#bgs .bg2{
	height: 100%;
	width: 100%;
	background: url('../img/bg2.jpg');
	position: absolute;
	top: 0;
	display: none;
}

#bgs .bg3{
	height: 100%;
	width: 100%;
	background: url('../img/bg3.jpg');
	position: absolute;
	top: 0;
	display: none;
}


/* PRODUCT */

/*#product #center_column{
	background: url('../img/bg-custo.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin-top: -15px;
}

#product h2{
	color: #db9d86;
	font-family: 'NeutrafaceTextBoldAlt';
	font-size: 50px;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 120px;
	margin-left: 56px;
	margin-bottom: 0;
}

.bar{
	background: url('../img/bar.jpg');
	width: 423px;
	height: 41px;
}

.bar-color{
	background: url('../img/bar-color.jpg');
	width: 496px;
	height: 40px;
}

.bar-texture{
	background: url('../img/bar-texture.jpg');
	width: 496px;
	height: 40px;
}

.bar-forme{
	background: url('../img/bar-form.jpg');
	width: 496px;
	height: 40px;
}

#product #pb-right-column{
	position: absolute;
	top: 80px;
	right: 40px;
}*/



/* TEMOIGNAGES */

#contact #page{
	background: url('../img/bg-tem.jpg')!important;
	width: 100%;
	height: 100%;
}


#contact h1{
	margin-top: 0;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 0;
	color: #f5f5d0;
	text-transform: uppercase;
	font-family: 'NeutrafaceTextBoldAlt';
	font-size: 50px;

}


#contact .buttons-round{
	background: url('../img/buttons.png');
	width: 98px;
	height: 29px;
	margin: auto;
		margin-top: 5px;
	margin-bottom: 20px;
}

#contact h2{
	margin-top: 95px;
	margin-bottom: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'NeutrafaceTextLightAlt';
	font-size: 33px;

}

#contact h2 span{
	font-family: 'NeutrafaceTextBoldAlt';
	margin-top: -5px;
	display: block;
	margin-left: 175px;

}

#contact #content-tem{
	width: 1116px;
	margin: auto;
}

#contact .tem{
	width: 352px;
	min-height: 403px;
	float: left;
	margin: 10px;
}

#contact .tem1{
	background: url('../img/tem1.png') no-repeat;
}

#contact .tem2{
	background: url('../img/tem2.png') no-repeat;
}

#contact .tem3{
	background: url('../img/tem3.png') no-repeat;
}

#contact .tem p{
	width: 250px;
	text-align: justify;
	color: #ffffff;
	margin: auto!important;
	font-size: 13px;
	line-height: 18px;
	font-family: 'BrownRegular';
}

#contact .tem .separator-tem{
	width: 177px;
	margin: auto;
	border-bottom: 1px solid white;
	margin-top: 38px;
	margin-bottom: 25px;
}

#contact .exp{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'NeutrafaceTextDemiAlt';
}


/* PREHOME */
#index{
	background: url('../img/bg.jpg');
}

/* ORDER */
#order{
	background: url('../img/bg.jpg');
}

#order .breadcrumb{
	display: none;
}

#order .step, #order .cart_last_product{
	display: none;
}

#order h1{
	margin-top: 0;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'NeutrafaceTextBoldAlt';
	font-size: 50px;
}

#order #center_column{
	width: 960px;
	margin: auto;
}


#order table{
	margin: auto;
	width: 960px;
}


#order table tr{
	border-bottom: 1px solid #d3d3d3;
	background: #f7f8d3;
}

#order table td{
	padding: 10px;
}

#order table th{
	font-family: 'NeutrafaceTextBoldAlt';
	font-size: 15px;
	text-transform: uppercase;
}

#order table tfoot td{
	padding-top: 3px;
	padding-bottom: 3px;
}
