/* Block newsletter */
#newsletter_block_left {
	padding:7px;
	border:1px solid #ccc;
	background:#eee;
}
#newsletter_block_left .title_block, #newsletter_block_left h4  {
	color:#faf2e1;
	position: absolute;
	right: 125px;
	width: 200px;
	top: 3px;
}
#newsletter_block_left p {padding:0;}

#newsletter_block_left p.success_inline {
	color: #418B19;
	text-align: center;
	font-weight: bold;
}
#newsletter_block_left p.warning_inline {
	color: #DA0F00;
	text-align: center;
	font-weight: bold;
}

#newsletter_block_left input.inputNew {
	position: relative;
	padding:0 5px;
	height:17px;
	width:100px;
	font-size: 11px;
	font-family: 'Arial';
	color: #b6b8b6;
}
*:first-child+html #newsletter_block_left input.inputNew {position:static;}/* hack ie 7 */

#newsletter_block_left input.button_mini {
	height:17px;
	width:20px;
	background: #db9d86;
	cursor:pointer;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 1px;
	margin-left: 4px;
}
*:first-child+html #newsletter_block_left input.button_mini {padding-left:24px !important;}/* hack ie 7 */
/*\*//*/div.madiv {
#newsletter_block_left input.button_mini {
	position:relative;
	top: 4px;
}/* hack ie 8 */
}/* */
